@page "/vistaautor"
@inherits ListaAutorsBase

<h3 class="oi oi-person">Autores</h3>
@if (Autors == null)
{
    <h1>Error</h1>
}
else
{
    <div class="row">
        <div class="col-12 text-left">
            <a href="AutorForm">
                Nuevo
            </a>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var autors in Autors)
        {
            <div class="card m-4">
                <div class="card-header">
                    <h3>@autors.AutorId</h3>
                    <h3>@autors.Nombre</h3>
                    <h3>@autors.FechaNacimiento.ToString("MM/dd/yyyy")</h3>
                    <h3>@autors.Ciudad</h3>
                    <h3>@autors.CorreoElectronico</h3>
                </div>
                <a href="/autorupdateform/@autors.AutorId">Editar</a>
                <a href="/eliminarlibro/@autors.AutorId">Eliminar</a>
            </div>
        }
    </div>
}
