@page "/vistalibro"
@inherits ListaBooksBase

<h1>Libros</h1>
@if (Books == null)
{
    <h1>Error</h1>
}
else
{
    <div class="row">
        <div class="col-12 text-left">
            <a href="BookForm" class="btn btn-info" role="button">
                Nuevo
            </a>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var books in Books)
        {
        <div class="card m-4">
            <div class="card-header">
                <h1 class="oi oi-book"></h1>
                <h1>@books.Titulo</h1>
                <h5>Publicado: @books.Fecha</h5>
                <h5>Precio sugerido: $ @books.PrecioSugerido</h5>
                <h5>Autor: @books.Autor</h5>
                <h3>Editorial @books.Editorial.Nombre</h3>
                <h2 style="color:red">$ @books.Costo</h2>

            </div>
            <div class="col-12 text-right">
                <a href="/BookUpdateForm/@books.BookId" class="btn btn-dark" role="button">Editar</a>
                <a href="/EliminarLibro/@books.BookId" class="btn btn-dark" role="button">Eliminar</a>
                </div>
            </div>
            }
        </div>
}